$primary-white: #FAFAFA;
$primary-black: #393e46;

$blue-100: #afdce1;
$blue-200: #82d6d6;
$blue-300: #2ba3c8;
$blue-400: #2d58a1;

$red-100: #ff9233;
$red-200: #e86a2f;
$red-300: #ff6140;
$red-400: #e8342f;

