.input-container {
    position: relative;
    margin: 0 auto;
    width: 700px;
    margin-top: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
    input {
        width: 100%;
        height: 40px;
        padding: 6px;
        border: solid 2px $red-100;
        font-size: 21px;
        outline: none;
        &::placeholder {
            font-style: italic;
            font-size: 16px;
        }
        &:active {
            border: solid 2px $blue-200;
        }
        &:focus {
            border: solid 2px $blue-200;
        }
    }
    button {
        position: absolute;
        right: 8px;
        top: 5px;
        background-color: $red-300;
        border: none;
        color: $primary-white;
        width: 30px;
        height: 30px;
        border-radius: 10%;
        font-size: 21px;
        outline: none;
        cursor: pointer;
        &:hover {
            background-color: $red-400;
        }
        &:active {
            background-color: $blue-200;
        }
    }
}